<launch>
<!-- arguments -->
<arg name="model" default="$(find pwr_v2_description)/xacro/pwr_v2.xacro"/>
<arg name="gui" default="true" />
<arg name="timeout" default="0.005" />
<!-- prameters -->
<param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>
<param name="use_gui" value="$(arg gui)"/>
<!-- nodes -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 
<node name="pwr_v2_walking_pattern_generator_node" pkg="pwr_v2_walking_pattern_generator" type="pwr_v2_walking_pattern_generator_node" output="screen" required="true">
    <param name="timeout" value="$(arg timeout)"/>
    <param name="urdf_param" value="/robot_description"/>
    <param name="CoM_Hight" value="0.245"/>
    <param name="mode" value="1"/>
</node>
<node name="pwr_v2_dynamixel_control_node" pkg="pwr_v2_dynamixel_control" type="pwr_v2_dynamixel_control" output="screen"/>
</launch>