<launch>
<!-- arguments -->
<arg name="model" default="$(find pwr_v2_description)/xacro/pwr_v2.xacro"/>
<arg name="gui" default="true" />
<arg name="timeout" default="0.005" />
<arg name="rvizconfig" default="$(find pwr_v2_walking_pattern_generator)/launch/config/rviz.rviz" />
<!-- rviz -->
<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
<!-- prameters -->
<param name="robot_description" command="$(find xacro)/xacro $(arg model) --inorder"/>
<param name="use_gui" value="$(arg gui)"/>
<!-- nodes -->
<node name="bno055_position_est_node" pkg="bno055_usb_stick" type="bno055_position_est_node" />
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> 
<node name="pwr_v2_walking_pattern_generator_node" pkg="pwr_v2_walking_pattern_generator" type="pwr_v2_walking_pattern_generator_node" output="screen">
    <param name="timeout" value="$(arg timeout)"/>
    <param name="urdf_param" value="/robot_description"/>
    <param name="CoM_Hight" value="0.24"/>
    <param name="cut_off_Hz" value="20.0"/>
    <param name="loop_Hz" value="100.0"/>
    <param name="gain" value="1.0"/>
    <param name="step_mode" value="1"/> <!--歩行計画 前方へ移動：1　その場で足踏み：2 --> 
    <param name="mode" value="1"/> <!-- ZMP更新 LIPモデル：1　IMU：2 -->
</node>
</launch>